@model IEnumerable<Notebooks.Models.User>

<h2>User list</h2>
<table class="table">
    <tr><th>Email</th><th></th></tr>
    @foreach (var user in Model)
    {
        @if (user.Email == User.Identity.Name)
        {
           continue;
        }
        <tr>
            <td>
                <a asp-controller="Notebooks" asp-action="UserList" asp-route-id="@user.Id">@user.Email</a>
            </td>
            <td>
                <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Access rights</a>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="col-1">
    <a asp-controller="Home" asp-action="Index" class="btn btn-success form-control">Back</a>
</div>

